<div id="<%= dom_id movie %>">
  <tr>
    <th scope="row"></th>
    <td><%= movie.name %></td>
    <td class="text-center"><%= link_to "Show this movie", movie, class: "btn btn-primary" %></td>
  </tr>
</div>