<h1>New client</h1>



<div class="card col-lg-6 col-md-6 col-sm-12 col-xs-12">
  <div class="card-body">
    <h5 class="card-title">Name Client</h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= @client.name %></h6>
    
  </div>
</div>
